[Desktop Entry]
Version=1.0
Type=Link
Name=Google Photos Web
Comment=Google Photos web app
Icon=/data/data/com.termux/files/usr/share/termux-desktop-xfce/web-apps-icons/google-photos.png
URL=https://photos.google.com
Categories=Network;Web;
StartupNotify=true
