[Desktop Entry]
Version=1.0
Type=Link
Name=Google drive Web
Comment=Google drive web app
Icon=/data/data/com.termux/files/usr/share/termux-desktop-xfce/web-apps-icons/google-drive.png
URL=https://drive.google.com
Categories=Network;Web;
StartupNotify=true
