[Desktop Entry]
Version=1.0
Type=Link
Name=Google Docs Web
Comment=Google documents web app
Icon=/data/data/com.termux/files/usr/share/termux-desktop-xfce/web-apps-icons/google-docs.png
URL=https://docs.google.com
Categories=Network;Web;
StartupNotify=true
